In [2]:
import pandas as pd 
pd.__version__

'1.5.1'

In [3]:
business_json_path = '/Users/justenjoffe/Documents/yelp_academic_dataset_business.json'
business = pd.read_json(business_json_path, lines=True)
print(business.shape)
business.head()

(150346, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [4]:
#Only keep businesses that are still open in the dataset
business.is_open.value_counts()

1    119698
0     30648
Name: is_open, dtype: int64

In [5]:
df_business = business[business['is_open']==1].drop(['hours', 'is_open', 'review_count'], axis=1)
print(df_business.shape)
df_business.head()

(119698, 11)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."

In [6]:
# Create one row for each series that contain comma-separated items
df_explode = df_business.assign(categories = df_business.categories.str.split(', ')).explode('categories')
df_explode.sample(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
136279,Um1zF9uGCDRG8A7wr4Kspg,Paws Stop,8909 Pendleton Pike,Indianapolis,IN,46226,39.843360,-86.011657,4.0,None,Pets
52977,SCwIR1-eh2VdfL-prPQayA,Make It Vapor,1711 Limekiln Pike,Dresher,PA,19025,40.142185,-75.167864,4.5,"{'WheelchairAccessible': 'True', 'BusinessPark...",Tobacco Shops
69149,7R5l6ScZ9c9UyTACMZp43Q,Creve Coeur Lake,2143 Creve Coeur Mill Rd,Saint Louis,MO,63146,38.709089,-90.491467,4.5,"{'GoodForKids': 'True', 'DogsAllowed': 'True',...",Parks

In [7]:
#Split the businesses by category
print('Total number of categories:', len(df_explode.categories.value_counts()))
print('Top 30 categories:')
df_explode.categories.value_counts()[:30]

Total number of categories: 1302
Top 30 categories:

Restaurants                  34987
Food                         20419
Shopping                     20186
Home Services                13322
Beauty & Spas                12263
Health & Medical             11046
Local Services               10138
Automotive                    9879
Nightlife                     8379
Event Planning & Services     8173
Bars                          7528
Active Life                   6496
Sandwiches                    6075
American (Traditional)        5531
Fast Food                     5516
Hotels & Travel               5123
Pizza                         5090
Home & Garden                 5022
Auto Repair                   5003
Coffee & Tea                  4954
Fashion                       4432
Breakfast & Brunch            4415
Arts & Entertainment          4370
Burgers                       4275
Hair Salons                   4185
Nail Salons                   4047
American (New)                3629
Doctors                       3556
Pets                          3371
Mexican                       3315
Name: categories, dtype: int64

In [8]:
#Find all categories under Hotels
df_explode[df_explode['categories'].str.contains('Hotels', case=True, na=False)].categories.value_counts()

Hotels & Travel    5123
Hotels             2544
Name: categories, dtype: int64

In [9]:
business_hotels= df_business[df_business['categories'].str.contains(
                         'Hotels', case=False, na=False)]
print(business_hotels.shape)
business_hotels.head()

(5123, 11)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
18,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,1241 Airline Dr,Kenner,LA,70062,29.981183,-90.254012,3.5,None,"Automotive, Car Rental, Hotels & Travel, Truck..."
34,w_AMNoI1iG9eay7ncmc67w,River 127,100 Iberville St,New Orleans,LA,70130,29.951359,-90.064672,3.0,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Event Planning & Services, Hotels, Hotels & Tr..."
55,xM6LoUcnpDpMBzXs_7dXAg,Fairfield Inn & Suites,719 E Baltimore Pike,Kennett Square,PA,19348,39.856248,-75.694610,3.0,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Hotels, Hotels & Travel, Event Planning & Serv..."
65,uczmbBk5O3tYhGue13dCDg,New Orleans Spirit Tours,723 St Peter St,New Orleans,LA,70130,29.958431,-90.065173,4.0,{'WiFi': 'u'no''},"Hotels & Travel, Tours, Local Flavor"
67,eYxGFkxo6m3SYGVTh5m2nQ,Big Boyz Toyz Motorcycle Rentals,4158 E Grant Rd,Tucson,AZ,85712,32.250324,-110.903655,4.5,None,"Towing, Hotels & Travel, Automotive, Motorcycl..."

In [10]:
#Get the reviews
review_json_path = '/Users/justenjoffe/Documents/yelp_academic_dataset_review.json'

In [11]:
#Use pandas to load large data by segmenting the file
size = 1000000
review = pd.read_json(review_json_path, lines=True,
                      # identifying the data type of each column can reduce memory usage
                      dtype={'review_id':str,'user_id':str,'business_id':str,'stars':int,
                             'date':str,'text':str,'useful':int,'funny':int,'cool':int},
                      chunksize=size)

In [12]:
#Read one chunk of data at a time
chunk_list = []
for chunk in review:
    # Drop columns that aren't needed
    chunk = chunk.drop(['review_id','useful','funny','cool'], axis=1)
    # Renaming column name to avoid conflict with business overall star rating
    chunk = chunk.rename(columns={'stars': 'review_stars'})
    # Inner merge with edited business file so only reviews related to Fast Food remain
    chunk_merged = pd.merge(business_hotels, chunk, on='business_id', how='inner')
    # Show feedback on progress
    print(f"{chunk_merged.shape[0]} out of {size:,} related reviews")
    chunk_list.append(chunk_merged)
    
# After trimming down the review file, concatenate all relevant data back to one dataframe
df = pd.concat(chunk_list, ignore_index=True, join='outer', axis=0)
print(df.shape)
df.sample(3)

48478 out of 1,000,000 related reviews
37208 out of 1,000,000 related reviews
43988 out of 1,000,000 related reviews
45052 out of 1,000,000 related reviews
45036 out of 1,000,000 related reviews
42052 out of 1,000,000 related reviews
42122 out of 1,000,000 related reviews
(303936, 15)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
39936,X_OnAUXVGHjyWP9zoPVLTA,Megabus,,Philadelphia,PA,19104,39.958359,-75.195393,2.0,None,"Hotels & Travel, Transportation",z5yhUC0Ta51rtLDAYxY7lg,1,I'm currently standing here in a line of peopl...,2017-05-09 13:33:29
252025,DIq0PN_L67ccOLiirWz8Uw,Odyssey Cruises,776 Dodecanese Blvd,Tarpon Springs,FL,34689,28.155637,-82.761724,4.5,"{'GoodForKids': 'True', 'WheelchairAccessible'...","Travel Services, Tours, Hotels & Travel, Activ...",vXtKiGbE-d3wAcoQCNMpPg,5,We absolutely loved it. Captain mike and Amand...,2019-04-14 01:04:02
2415,ORL4JE6tz3rJxVqkdKfegA,Gaylord Opryland Resort & Convention Center,2800 Opryland Dr,Nashville,TN,37214,36.211592,-86.694319,3.0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Venues & Event Spaces, Performing Arts, Arts &...",kcMMXrkd7UwLgadncHkKtw,5,Beautiful establishment. Will patronize this l...,2021-05-06 21:16:11

In [13]:
#Convert the new data fram into a csv file creating more concise dataset
#Dataset further edited in csv form to remove further irrelevant information
df.to_csv("yelp_reviews_Hotels_categories.csv", index=False)